.container {
  position: absolute;
  margin: 0;
  background-color: #2C3E50;
  width: 280px;
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
/* 
  bottom: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.menu-top {
  display: flex;
  flex-flow: column;

  align-items: center;
  justify-content: center;

  padding-top: 7%;
  padding-bottom: 7%;

  border-bottom: 1px solid #ECF0F1 ;
}

.menu-top a {
  padding-top: 15px;
}

.menu-top img {
  width: 100px;
  height: 100px;
}



.menu-body {
 padding-top: 30px;
}
  
  .menu-body ul {
    padding: 0 0 0 0;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
    text-align: start;
  }
  .menu-body ul a{
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    color: #ECF0F1;
  }